# Environment
.env
.env.local
.env.*.local

# Project Specific
.replit
.gemini/
extract_zip.js
move-images.js
update_gumroad_*.js
stitch_*
public/images/test.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Videos/ 
node_modules/ 
LICENSE.txt

# Vite
vite.config.*.timestamp-*.mjs
dist
dist-ssr
*.local
